<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>앱으로 리디렉션 중...</title>
    <script>
      const params = new URLSearchParams(window.location.search);
      const access = params.get("access");
      const refresh = params.get("refresh");
      const username = params.get("username");
      const nickname = params.get("nickname");
      const profile_image = params.get("profile_image");

      if (access && refresh) {
        const redirectUrl = `exp://redirect?access=${access}&refresh=${refresh}&username=${username}&nickname=${nickname}&profile_image=${profile_image}`;
        window.location.href = redirectUrl;
      } else {
        document.body.innerText = "로그인 실패: 토큰이 없습니다.";
      }
    </script>
  </head>
  <body>
    앱으로 로그인 정보 전달 중...
  </body>
</html>
