.footer {
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: #9a9a9a;  /* ✅ 푸터 배경색 */
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;
    display: flex;
    z-index: 1000;
    justify-content: center; /* ✅ 수평 가운데 정렬 */
    align-items: center;
}
