@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body {
  margin: 0;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: linear-gradient(90deg, #DCF2FF, #b3dff0) !important; /* 연한 파랑색 그라데이션 */
  color: rgb(124, 124, 124) !important; /* 글자색을 약간 어둡게 */
  padding: 0.4rem; /* 패딩을 약간 더 늘림 */
  text-align: center;
  font-size: 0.8rem; /* 적절한 폰트 크기 */
  font-weight: 800; /* 글자 굵기 굵게 */
  border-bottom: 1px solid #b3dff0; /* 경계선을 얇고 자연스럽게 */
}

/* 레이아웃 스타일 */
.grid-container {
  display: grid;
  gap: 16px; /* 카드 간격 */
  padding: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 반응형 */
}

/* 카드 스타일 */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* 마우스 올릴 때 확대 */
}

/* 이미지 스타일 */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지 */
  transition: opacity 0.3s ease-in-out;
}

.card:hover img {
  opacity: 0.8; /* 마우스 올릴 때 투명도 변경 */
}

/* 텍스트 오버레이 */
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-content {
  transform: translateY(-10px); /* 마우스 올릴 때 텍스트 이동 */
}


.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #f1f1f1;
}

.slide img, .cafe-slide img {
  width: 100%;
  height: auto;
  display: block;
}