body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: linear-gradient(90deg, #DCF2FF, #b3dff0) !important; /* 연한 파랑색 그라데이션 */
  color: rgb(124, 124, 124) !important; /* 글자색을 약간 어둡게 */
  padding: 0.4rem; /* 패딩을 약간 더 늘림 */
  text-align: center;
  font-size: 0.8rem; /* 적절한 폰트 크기 */
  font-weight: 800; /* 글자 굵기 굵게 */
  border-bottom: 1px solid #b3dff0; /* 경계선을 얇고 자연스럽게 */
}



.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #f1f1f1;
}

.slide img, .cafe-slide img {
  width: 100%;
  height: auto;
  display: block;
}